@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
      font-family: 'Neue-Montreal';
      src: url(/Fonts/NeueMontreal-Regular.woff) format('woff');
    }
    @font-face {
      font-family: 'TexGyreAdventor';
      src: url(/Fonts/texgyreadventor.woff) format('woff');
    }

  }